.cancellation-and-returns-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0.5rem;

    background-color: var(--footer-page-bg-color);
}

.cancellation-and-returns-main__heading {
    text-align: center;
}

.cancellation-and-returns-main__paragraph {
    text-align: justify;
}

@media(min-width: 40rem) {
    .cancellation-and-returns-main {
        margin: 0 auto;
        max-width: 75%;
    }
}