.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-color);
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 1rem;

    list-style-type: none;
}

.footer__link {
    font-size: 0.75rem;
}

@media(min-width: 40rem) {
    .footer__list {
        flex-direction: row;
    }
}