.nav {
    position: relative;
}

.nav__hambuger-button {
    border: none;
    padding: 0;
    height: 22px;

    background: none;
}

/*below CSS adapted from https://css.gg under the MIT License*/
.nav__hambuger-button__gg-menu {
    transform: scale(var(--ggs,1))
}
.nav__hambuger-button__gg-menu,
.nav__hambuger-button__gg-menu::after,
.nav__hambuger-button__gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: var(--nav-hamburger-color);
}
.nav__hambuger-button__gg-menu::after,
.nav__hambuger-button__gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.nav__hambuger-button__gg-menu::after {
    top: 6px
}
/*above CSS adapted from https://css.gg under the MIT License*/

.nav__list {
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 1;

    border: 1px solid var(--nav-border-color);
    padding: 0rem;

    list-style-type: none;

    rotate: x 90deg;
    transform-origin: top;
}

.nav__list--open {
    visibility: visible;

    rotate: x 0deg;
}

.nav__link {
    display: block;

    padding: 0.5rem;

    background-color: var(--nav-link-bg-color);
    color: var(--nav-link-color);

    text-decoration: none;
}

.nav__link:hover {
    background-color: var(--nav-link-bg-color-hover);
}

@media(min-width: 40rem) {
    .nav__hambuger-button {
        display: none;
    }

    .nav__list {
        position: initial;

        flex-direction: row;
        justify-content: space-around;
        visibility: visible;

        border-left-width: 0px;
        border-right-width: 0px;

        rotate: x 0deg;
    }

    .nav__link {
        background-color: var(--nav-link-bg-color-expanded);
    }
}

@media (prefers-reduced-motion: no-preference) {
    @keyframes openMenu {
        0% {
            visibility: hidden;

            rotate: x 90deg;
        }
        100% {
            visibility: visible;

            rotate: x 0deg;
        }
    }
    
    @keyframes closeMenu {
        0% {
            visibility: visible;

            rotate: x 0deg;
        }
        100% {
            visibility: hidden;

            rotate: x 90deg;
        }
    }

    .nav__list--open {
        animation: openMenu 200ms linear normal;
    }

    .nav__list--close {
        animation: closeMenu 200ms linear normal;
    }
}