.privacy-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0.5rem;

    background-color: var(--footer-page-bg-color);
}

.privacy-main__heading {
    align-self: center;
}

.privacy-main__paragraph {
    text-align: justify;
}

@media(min-width: 40rem) {
    .privacy-main {
        margin: 0 auto;
        max-width: 75%;
    }
}